/* line 1, app/assets/stylesheets/custom.css.scss */
.navbar {
  background-color: #FDF6EA !important;
}

/* line 5, app/assets/stylesheets/custom.css.scss */
.navbar-brand {
  font-size: 3rem;
}

/* Customize footer */
/* line 12, app/assets/stylesheets/custom.css.scss */
.footer-bs {
  background-color: #3c3d41;
  padding: 60px 40px;
  color: white;
  margin-bottom: 0px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}

/* line 21, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
  padding: 10px 25px;
}

/* line 22, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
  border-color: transparent;
}

/* line 23, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-brand h2 {
  margin: 0px 0px 10px;
  color: #fff;
}

/* line 27, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-brand p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

/* line 29, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
}

/* line 30, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px;
}

/* line 31, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-nav ul.pages a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 32, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

/* line 33, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #fff;
}

/* line 41, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px;
}

/* line 42, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-nav ul.list li {
  padding: 5px 0px;
}

/* line 43, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-nav ul.list a {
  color: rgba(255, 255, 255, 0.8);
}

/* line 44, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-nav ul.list a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* line 46, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px;
}

/* line 47, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

/* line 53, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-social li {
  padding: 5px 4px;
}

/* line 54, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-social a {
  color: white;
}

/* line 55, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

/* line 57, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #fff;
}

/* line 64, app/assets/stylesheets/custom.css.scss */
.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  /* line 67, app/assets/stylesheets/custom.css.scss */
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
}
