<!-- Footer -->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-about wow animated fadeInUp">
                    <h3>About us</h3>
                    <p>
                        We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
                    </p>
                    <p>© WinnerEvent Inc.</p>
                </div>
                <div class="col-md-4 offset-md-1 footer-contact wow animated fadeInDown">
                    <h3>Contact</h3>
                    <p><i class="fa fa-map-marker"></i> Taichung, Taiwan</p>
                    <p><i class="fa fa-phone"></i> Phone: (+886) 080-0806-449</p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="mailto:admin@winner-event.com">admin@winner-event.com</a></p>
                    <p><i class="fa fa-skype"></i> Skype: davidwang8</p>
                </div>
                <div class="col-md-4 footer-links wow animated fadeInUp">
                    <div class="row">
                        <div class="col">
                            <h3>Links</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><a class="scroll-link" href="#top-content">Home</a></p>
                            <p><a href="#">Features</a></p>
                            <p><a href="#">How it works</a></p>
                            <p><a href="#">Our clients</a></p>
                        </div>
                        <div class="col-md-6">
                            <p><a href="#">Plans &amp; pricing</a></p>
                            <p><a href="#">Affiliates</a></p>
                            <p><a href="#">Terms</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col footer-social">
                    <a href="#"><i class="fa fa-facebook-f"></i></a> 
                    <a href="#"><i class="fa fa-twitter"></i></a> 
                    <a href="#"><i class="fa fa-google-plus-g"></i></a> 
                    <a href="#"><i class="fa fa-instagram"></i></a> 
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>