<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <h3 class="my-heading ">Live<span class="bg-main">Reco</span></h3>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars mfa-white"></span>
        </button>

        <div id="main">
            <a href="javascript:void(0)" class="openNav"><span class="fa fa-bars" onclick="openNav()"></span></a>
        </div>

     
       
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <ul class="mob-ul">
         <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
         <li class="nav-item"><a class="nav-link" href="#">About</a></li>
         <li class="nav-item"><a class="nav-link" href="#">Events</a></li>
         <li class="nav-item"><a class="nav-link" href="#">Groups</a></li>
         <li class="nav-item"><a class="nav-link" href="#">Marketplace</a></li>
         <li class="nav-item"><a class="nav-link" href="#">Featured Activities</a></li>
         <% if current_user %>
          <li class="nav-item"><a class="nav-link" href="/users/sign_out" data-method="delete">Logout</a></li>
         <% else %>
          <li class="nav-item"><a class="nav-link" href="/users/sign_in">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/sign_up">Register</a></li>
         <% end %>
      </ul>
    </div>


        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form class="form-inline my-2 my-lg-0 col-md-7">
                <input class="myform-control mr-sm-2" type="search" placeholder="find peoples, outdoor events, spots and more..." aria-label="Search">
                <button class="btn btn-light"><i class="fa fa-search"></i></button>
            </form>
            <ul class="navbar-nav ml-auto">
                <% if current_user %>
                  <li class="nav-link">
                      <a class="btn btn-danger btn-block btn-logout" href="/users/sign_out" data-method="delete">Logout</a>
                  </li>
                <% else %>
                  <li class="nav-link">
                      <a class="btn btn-primary btn-block btn-login" href="/users/sign_in">Login</a>
                  </li>
                  <li class="nav-link">
                      <a class="btn btn-primary btn-block btn-register" href="/users/sign_up">Register</a>
                  </li>
                <% end %>
            </ul>
        </div>

    </div>
</nav>
